.scroll-to-top-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;

  &:has(.scroll-to-top.visible) {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .background {
    position: absolute;
    bottom: 0;
    right: 0;
    .glow {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      z-index: -1;
      bottom: 0;
      left: 50%;
      &.glow-blue-1 {
        width: 50px;
        height: 50px;
        background: radial-gradient(var(--color-secondary), transparent 70%);
        filter: blur(20px);
        transform: translate(-30px, -50px);
        opacity: .4;
      }
      &.glow-red-1 {
        width: 50px;
        height: 50px;
        background: radial-gradient(var(--color-primary-light), transparent 70%);
        filter: blur(20px);
        transform: translate(-100px, 17px);
        opacity: .4;
      }
    }
  }
}
.scroll-to-top {
  width: 80px;
  height: 80px;
  border-radius: 9px;
  background: var(--color-bg-secondary);
  border: 1px solid #9191917d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
  padding: 0;
  overflow: visible;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    transform: translateY(-3px);
    border-color: rgba(var(--color-bg-secondary), 0.49);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(-1px);
  }
}

