@use "mixins" as *;

.projects-page {
  background: var(--color-bg-primary);
  padding: 128px 0 0;
  overflow: hidden;
  position: relative;

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    z-index: 0;
    .glow {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      z-index: 1;
      bottom: 0;
      left: 50%;
      &.glow-blue-1 {
        width: 500px;
        height: 500px;
        background: #1a6ba5;
        filter: blur(200px);
        transform: translate(-50%, 300px);
        opacity: .5;
      }
    }
  }
  .grid-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3000px;
    height: 1500px;
    background: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    mix-blend-mode: overlay;
    opacity: 0.5;
    transform: rotate(23deg) translate(0, 500px);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-header {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 64px;
  
    .kicker {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 4px 16px 4px 10px;
      border-radius: 6px;
      background: rgba(209, 75, 59, 0.1);
      border: 1px solid rgba(209, 75, 59, 0.1);
      backdrop-filter: blur(25px);
      font-size: 14px;
      font-weight: 500;
      color: var(--color-text-primary);
      margin-bottom: 16px;
      @include respond-to(md) {
        font-size: 16px;
      }
      .badge-icon {
        display: inline-flex;
        width: 18px;
        height: 18px;
        svg {
          width: 100%;
          height: 100%;
          path {
            fill: var(--color-text-primary);
          }
        }
      }
  
      .badge-text {
        font-weight: 500;
        white-space: pre;
      }
    }
  
    .section-title {
      font-size: 36px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -1.68px;
      margin-bottom: 16px;
      color: var(--color-text-primary);
      @include respond-to(md) {
        font-size: 42px;
      }
    }
  
    .section-description {
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: -0.4px;
      color: rgba(252, 252, 252, 0.8);
      max-width: 500px;
      margin: 0 auto 24px;
    }
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    max-width: 500px;
    @include respond-to(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
  }

  app-contact{
    ::ng-deep {
      .contact {
        margin-top: 0;
      }
    }
  }
}

