@use "./mixins" as *;

.footer {
  background: #030816;
  padding: 64px 0 32px;
  position: relative;
  z-index: 1000;
  background-image: linear-gradient(280deg, #030816 35%, transparent 65%), url('/assets/images/footer-bg.webp');
  background-size: cover, auto 300px;
  background-position: 0px 0px, calc(50% + 150px) -150px;
  background-repeat: no-repeat;

  @include respond-to(lg) {
    background-size: cover, auto 600px;
    background-image: linear-gradient(280deg, #030816 50%, transparent 65%), url('/assets/images/footer-bg.webp');
    background-position: 0px 0px, calc(50% - 400px) -415px;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;
  gap: 24px;

  @include respond-to(lg) {
    align-items: flex-end;
    flex-direction: row;
  }
}

.footer-brand {
  .logo-link {
    display: inline-block;
    text-decoration: none;
  }

  .logo-img {
    height: 150px;
    width: 191px;
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @include respond-to(lg) {
    align-items: flex-end;
  }
}

.footer-social {
  display: flex;
  gap: 16px;
  align-items: center;

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    will-change: transform;

    svg {
      width: 100%;
      height: 100%;
      display: block;
      
      path {
        transition: fill 0.3s ease-in-out;
        will-change: fill;
      }
    }

    &:hover {
      transform: translateY(-1px);
      
      svg path {
        fill: url(#icon-gradient-primary);
      }
    }
  }
}

.footer-legal {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  @include respond-to(lg) {
    flex-direction: row;
    text-align: start;
    justify-content: flex-end;
  }

  a {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: ease-in-out 0.3s color;
    will-change: color;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.footer-bottom {
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  @include respond-to(lg) {
    text-align: start;
  }

  p {
    color: #fcfcfc;
    opacity: 0.6;
    font-weight: 200;
    font-size: 16px;
    margin: 0;
  }
}

