@use 'mixins' as *;

.faq {
  padding: 64px 0 128px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #050A27, #030816);
  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    z-index: 0;
    .glow {
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      z-index: 1;
      top: 0;
      left: 50%;
      &.glow-blue-1 {
        width: 900px;
        height: 900px;
        background: radial-gradient(#1d4ca75e, transparent 70%);
        mix-blend-mode: soft-light;
        transform: translate(calc(50% - 225px), 240px);
        z-index: 2;
      }
      &.glow-blue-2 {
        width: 400px;
        height: 400px;
        background: radial-gradient(#70b9ee, transparent 70%); 
        filter: blur(25px);
        transform: translate(calc(50% + 225px), 652px);
        opacity: 0.3;
        z-index: 1;
      }
      &.glow-red-1 {
        width: 500px;
        height: 500px;
        background:radial-gradient(#ff7474, transparent 70%);
        filter: blur(25px);
        transform: translate(calc(50% - 500px), 215px);
        opacity: 0.2;
      }
    }
  }
  .container {
    position: relative;
    z-index: 3;
  }
}

.section-header {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.68px;
    color: var(--color-text-primary);
    @include respond-to(md) {
      font-size: 42px;
    }
  }

  .section-description {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.4px;
    color: rgba(252, 252, 252, 0.8);
    max-width: 500px;
    .contact-link {
      color: var(--color-primary);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
      &:hover {
        text-shadow: 0 0 10px var(--color-primary);
      }
      
    }
  }
}

.faq-list {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  transition: background-size 0.4s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  border: 1px solid #331b26;
  background: #040612;
  box-shadow: 0 10px 20px 0 rgba(51, 27, 38, 0.25), 0 -12px 30px 0 rgba(51, 27, 38, 0.12),
    0 4px 6px 0 rgba(51, 27, 38, 0.12), 0 12px 13px 0 rgba(51, 27, 38, 0.17),
    0 -3px 5px 0 rgba(51, 27, 38, 0.09);
  background-image: radial-gradient(circle at right top, rgba(255, 116, 116, 0.15), #040612 70%);
  background-size: 25% 100%;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  &.active {
    box-shadow:0px 0px 20px 0  #142c57, 0 0 15px 0 rgba(0, 0, 0, 0.25),
      0 54px 55px 0 rgba(51, 27, 38, 0.25), 0 -12px 30px 0 rgba(51, 27, 38, 0.12),
      0 4px 6px 0 rgba(51, 27, 38, 0.12), 0 12px 13px 0 rgba(51, 27, 38, 0.17),
      0 -3px 5px 0 rgba(51, 27, 38, 0.09);
    background-size: 100% 100%;
  }

  &:hover {
    background-size: 100% 100%;
  }
}

.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: none;
  border: none;
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  transition: color 0.8s ease;

  &:hover {
    color: var(--color-text-primary);
  }

  .faq-question-text {
    flex: 1;
    line-height: 1.5;
  }

  .faq-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: rgba(4, 6, 18, 0.05);
    border: 0.5px solid #e4e4e4;
    border-radius: 8px;
    padding: 2px;
    flex-shrink: 0;
    margin-left: 16px;
  }

  .faq-icon {
    width: 10px;
    height: 7px;
    stroke: currentColor;
    color: var(--color-text-primary);
    transition: transform 0.3s ease;
    transform: rotate(180deg);

    path {
      fill: var(--color-text-primary);
    }

    &.rotated {
      transform: rotate(0deg);
    }
  }
}

.faq-details-wrapper {
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 0;
  will-change: height;
}

.faq-details {
  padding: 0 16px 16px;
  margin: 0;
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
