@use './mixins' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  align-items: center;

  &:not(.scrolled) {
  }

  &.scrolled {
  }

  &.open {
    bottom: 0;
    height: 100vh;
    // width: 100vw;
    padding-top: 0;
    align-items: stretch;
  }
}

.navbar-container {
  border-radius: 12px;
  border: 1px solid rgba(28, 23, 24, 0.1);
  background: rgba(28, 23, 24, 0.4);
  box-shadow: 0 8px 16px 0 rgba(27, 4, 8, 0.04);
  backdrop-filter: blur(25px);
  transition: all 0.3s ease;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  min-width: 90%;
  flex-wrap: wrap;
  @include respond-to(md) {
    min-width: auto;
    flex-wrap: nowrap;
  }
  .navbar.open & {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 24px;
    align-items: flex-start;
    background: rgba(28, 23, 24, 0.9);
    backdrop-filter: blur(12px);
    border: none;
    align-content: flex-start;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 48px;

  .navbar.open & {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.logo {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 130px;
    height: 31px;
    object-fit: contain;
  }
}

.nav-links {
  list-style: none;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  display: none;

  @include respond-to(md) {
    display: flex;
  }
  li {
    a {
      color: #fcfcfc;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.64px;
      text-decoration: none;
      transition: all 0.3s ease;
      white-space: nowrap;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.menu-mobile {
  width: 100%;
  display: none;
  .navbar.open & {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
      li {
        padding: 16px 8px;
        align-self: stretch;
        border-bottom: 1px solid rgb(252 252 252 / 10%);
        width: 100%;
      }
  }
}

/* Backdrop removed; navbar itself expands to 100% */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px
}

@property --cta-deg-gradient {
  syntax: '<angle>';
  inherits: false;
  initial-value: 230deg;
}

.cta-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  --cta-deg-gradient: 230deg;
  background: linear-gradient(var(--cta-deg-gradient), #ea624a -15.19%, #961416 73.3%);
  text-decoration: none;
  transition: --cta-deg-gradient 0.5s ease, transform 0.5s ease;
  overflow: hidden;
  text-align: center;
  box-shadow: -14px 31px 10px 0 rgba(0, 0, 0, 0), -9px 20px 9px 0 rgba(0, 0, 0, 0.01),
    -5px 11px 7px 0 rgba(0, 0, 0, 0.04), -2px 5px 5px 0 rgba(0, 0, 0, 0.07),
    -1px 1px 3px 0 rgba(0, 0, 0, 0.08);
  border: 0.5px solid #df563e;
  max-width: 400px;

  span {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
  }

  .arrow-icon {
    width: 17px;
    height: 9px;
    flex-shrink: 0;
    display: none;
    @include respond-to(md) {
      display: block;
    }
  }

  &:hover {
    --cta-deg-gradient: 330deg;
    transform: scale(1.05);
  }
  &.mobile {
    display: inline-flex;
    width: 100%;
    @include respond-to(md) {
      display: none;
    }
  }
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  @include respond-to(md) {
    display: none;
  }
  span {
    width: 25px;
    height: 2px;
    background: #fcfcfc;
    transition: all 0.3s ease;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }
}
