<section [ngClass]="['project-stacks','project-'+projectStacksData.projectName]">
  @if (projectStacksData.backgroundImages || projectStacksData.circles) {
    <div class="background">
      @if (projectStacksData.backgroundImages) {
        @for (image of projectStacksData.backgroundImages; track $index) {
          <img [src]="image" alt="background" />
        }
      }
      @if (projectStacksData.circles) {
        <div class="circles">
          @for (circle of projectStacksData.circles; track $index) {
            <div class="circle" [ngClass]="['circle-'+$index]"></div>
          }
        </div>
      }
    </div>
  }
  <div class="container">
    <div class="services">
      <h3>Services</h3>
      <div class="content-stacks">
        @for (service of projectStacksData.services; track service.name) {
        <div class="card-stack">
          <div class="icon">
            <img [src]="service.icon" [alt]="service.name" />
          </div>
          <div class="name">{{ service.name }}</div>
        </div>
        }
      </div>
    </div>
    <div class="technologies">
      <h3>Tech Stack</h3>
      <div class="content-stacks">
        @for (technology of projectStacksData.technologies; track technology.name) {
        <div class="card-stack">
          <div class="icon">
            <img [src]="technology.icon" [alt]="technology.name" />
          </div>
          <div class="name">{{ technology.name }}</div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
