@use 'mixins' as *;

.project-stacks {
  position: relative;
  width: 100%;
  padding: 0 0 96px;
  // overflow: hidden;
  @include respond-to(md) {
    padding: 0 0 144px;
  }

  &.project-tierro {
    .background {
      &:after,
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        opacity: 0.05;
        background: radial-gradient(50% 50% at 50% 50%, #fdc45d 0%, rgba(253, 196, 93, 0) 100%);
      }
      &:after {
        left: calc(50% - 700px);
      }
      &:before {
        left: calc(50% + 400px);
      }
    }
  }
  &.project-brush-along {
    .container {
      .card-stack {
        background: #1C3871;
        border-color: #37579C;
        box-shadow: 3px 74px 21px 0 rgba(#294479, 0.01), 2px 48px 19px 0 rgba(#294479, 0.1), 1px 27px 16px 0 rgba(#294479, 0.34), 0 12px 12px 0 rgba(#294479, 0.58), 0 3px 7px 0 rgba(#294479, 0.67);
      }
    }
    .circles {
      .circle-0 {
       width: 600px;
       height: 600px;
       background: radial-gradient(circle, #70B9EE 0%, transparent 65%);
       transform: translate(calc(50% - 1200px), -85px);
       opacity: 0.3;
      }
      .circle-1 {
         width: 700px;
         height: 700px;
         background: radial-gradient(circle, #70B9EE 0%, transparent 65%);
         transform: translate(calc(50% - 100px), -200px);
         opacity: 0.3;
       }
     }
  }

  &.project-prompt-management {
    .circles {
     .circle-0 {
      width: 600px;
      height: 600px;
      background: radial-gradient(circle, #70B9EE 0%, transparent 65%);
      transform: translate(calc(50% - 1200px), -85px);
      opacity: 0.3;
     }
     .circle-1 {
        width: 700px;
        height: 700px;
        background: radial-gradient(circle, #70B9EE 0%, transparent 65%);
        transform: translate(calc(50% - 100px), -200px);
        opacity: 0.3;
      }
      .circle-2 {
        width: 300px;
        height: 300px;
        background: radial-gradient(circle, #FF7474 0%, transparent 65%);
        transform: translate(calc(50% - 800px), 90px);
        opacity: 0.2;
      }
    }
   }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      .circle {
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
      }
    }
  }
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include respond-to(md) {
      flex-direction: row;
      justify-content: space-between;
    }
    h3 {
      color: #fcfcfc;
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
      @include respond-to(md) {
        font-size: 36px;
    }
    }
    .services,
    .technologies {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
    }
    .content-stacks {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
    }
    .card-stack {
      display: flex;
      padding: 12px 18px;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: 1px solid rgba(145, 145, 145, 0.6);
      background: #080c1a;
      box-shadow: 3px 74px 21px 0 rgba(0, 0, 0, 0.01), 2px 48px 19px 0 rgba(0, 0, 0, 0.1),
        1px 27px 16px 0 rgba(0, 0, 0, 0.34), 0 12px 12px 0 rgba(0, 0, 0, 0.58),
        0 3px 7px 0 rgba(0, 0, 0, 0.67);
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-1px);
        border-color: rgba(102, 126, 234, 0.3);
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      }
      .icon {
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .name {
        color: #fcfcfc;
        font-size: 14px;
        font-weight: 600;
        line-height: 110%;
      }
    }
  }
}
