.brand-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .light {
    position: absolute;
    top: 16px;
    left: 16px;
    img {
      position: absolute;
      &:nth-child(1) {
        transform: rotate(99deg) scale(0.8) translate(-25px, -100px)
      }
      &:nth-child(2) {
        transform: rotate(99deg) scale(0.5) translate(205px, 70px);
      }
    }
  }
  .glow {
    position: absolute;
    border-radius: 50%;
   
    pointer-events: none;
    z-index: 3;
    top: 16px;
    left: 16px;
    &.glow-blue-1 {
      width: 500px;
      height: 500px;
      transform: translate(5px, 40px);
      background: radial-gradient(var(--color-secondary), transparent 70%);
      filter: blur(20px);
      opacity: .2;
    }
    &.glow-blue-2 {
      width: 380px;
      height: 135px;
      transform: translate(calc(50% - 485px / 2), -65px);
      background: radial-gradient(var(--color-secondary), transparent 70%);
      filter: blur(20px);
      opacity: 0.2;
    }
    &.glow-red-1 {
      width: 200px;
      height: 200px;
      background: radial-gradient(#FF7474, transparent 70%);
      opacity: 0.2;
      filter: blur(20px);
      transform: translate(180px, 55px);
    }
    &.glow-dark-1 {
      width: 200px;
      height: 200px;
      opacity: 0.7;
      background: radial-gradient(#09102E, transparent 70%);
      filter: blur(20px);
      transform: translate(190px, -45px);
    }
  }

  .dots-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
    background-size: 20px 20px;
    opacity: 0.3;
    z-index: 1;
  }

  .circles {
    position: absolute;
    top: 155px;
    left: 155px;
    z-index: 2;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;

    @media (hover: hover) and (pointer: fine) {
      transform: translate3d(
        calc(var(--hover) * var(--dx) * 2px),
        calc(var(--hover) * var(--dy) * 2px),
        0
      )
      rotateX(calc(var(--hover) * var(--dy) * -2deg))
      rotateY(calc(var(--hover) * var(--dx) * 2deg))
      translateZ(calc(var(--hover) * 200px));
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      background: rgba(47, 50, 64, 0.25);
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25), 0 0 30px 0 rgba(0, 0, 0, 0.25);
      filter: blur(0.25px);
      transform-origin: center;
      animation: circle-rotate 20s linear infinite;
      overflow: visible;
      top: 50%;
      left: 50%;

      .circle-stroke {
        position: absolute;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        pointer-events: none;
      }

      &.circle-1 {
        width: 170px;
        height: 170px;
        transform: translate(-50%, -50%);
        animation-duration: 20s;
        z-index: 5;
      }

      &.circle-2 {
        width: 290px;
        height: 290px;
        transform: translate(-50%, -50%);
        animation-duration: 25s;
        animation-direction: reverse;
        z-index: 1;
      }

      &.circle-3 {
        width: 210px;
        height: 210px;
        transform: translate(-50%, -50%);
        animation-duration: 18s;
        z-index: 3;
      }

      &.circle-4 {
        width: 250px;
        height: 250px;
        transform: translate(-50%, -50%);
        animation-duration: 22s;
        animation-direction: reverse;
        z-index: 2;
      }
    }
  }

  @keyframes circle-rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .thumb {
    overflow: hidden;
    position: absolute;
    top: 155px;
    left: 155px;
    width: 100px;
    height: 100px;
    z-index: 2;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    // background: rgba(47, 50, 64, 0.25);
    filter: blur(0.25px);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25), 0 0 30px 0 rgba(0, 0, 0, 0.25);
    
    background: rgba(217, 217, 217, 0.20);
    backdrop-filter: blur(5px);

    @media (hover: hover) and (pointer: fine) {
      transform: translate(-50%, -50%)
        translate3d(calc(var(--hover) * var(--dx) * 2px), calc(var(--hover) * var(--dy) * 2px), 0)
        rotateX(calc(var(--hover) * var(--dy) * -2deg))
        rotateY(calc(var(--hover) * var(--dx) * 2deg))
        translateZ(calc(var(--hover) * 200px));
    }
    &:after {
      content: "";
      position: absolute;
      top: -1.5px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
      border: solid 1.5px;
    }
    .thumb-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 50px;
        height: 57px;
      }
    }
   

    .thumb-glow-circle {
      position: absolute;
      border-radius: 50%;
      z-index: 3;
      pointer-events: none;

      &.thumb-glow-1 {
        width: 95px;
        height: 95px;
        top: 50%;
        left: 3px;
        opacity: 0.2;
        background: #D6503E;
        filter: blur(15px);
        filter: blur(25px);
      }

      &.thumb-glow-2 {
        width: 95px;
        height: 95px;
        top: -50%;
        left: 3px;
        opacity: 0.2;
        background: #70B9EE;
        filter: blur(25px);
      }

      &.thumb-glow-3 {
        width: 70px;
        height: 70px;
        bottom: 15%;
        left: 25%;
      }

      &.thumb-glow-4 {
        width: 50px;
        height: 50px;
        top: 30%;
        right: 20%;
      }

      &.thumb-glow-5 {
        width: 45px;
        height: 45px;
        bottom: 25%;
        right: 15%;
      }
    }
  }
}

