@use 'mixins' as *;

.tierro-project-page {
  min-height: 100vh;
  background: #141313;
  overflow: hidden;
}

::ng-deep {
  body {
    background: #141313;
  }
}
app-table-of-contents {
  ::ng-deep {
    .table-of-contents {
      .toc-menu {
        background: #141313 !important;
      }
    }
  }
}
.section-client-page {
  padding: 96px 0 0;
  margin-bottom: -50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include respond-to(md) {
    margin-bottom: -155px;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .circle {
      position: absolute;
      top: calc(50% - 300px);
      left: calc(50% - 800px / 2);
      width: 800px;
      height: 800px;
      background: radial-gradient(50% 50% at 50% 50%, #fcfcfc 0%, transparent 100%);
      border-radius: 100%;
      opacity: 0.15;
      filter: blur(20px);
      z-index: 1;
    }
  }
  .overflow {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #141313 5%, transparent 50%, #141313 95%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    pointer-events: none;
  }
  .container {
    display: flex;
    padding: 0 48px;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; 
    h3 {
      color: #fcfcfc;
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
      max-width: 600px;
      @include respond-to(md) {
        font-size: 36px;
      }
    }
    p {
      color: rgba(252, 252, 252, 0.8);
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      max-width: 600px;
      @include respond-to(md) {
        font-size: 18px;
      }
    }

    img {
      width: 820px;
      height: 400px;
      margin-left: -310px;
      @include respond-to(md) {
        width: 1229px;
      height: 600px;
      margin-left: -445px;
      }
    }
  }
}

.projects-side-img-text-container {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
