<nav class="navbar" [class.scrolled]="isScrolled()" [class.open]="menuOpen()">
  <div class="navbar-container">
      <div class="navbar-left">
        <a href="#" class="logo" (click)="scrollToTop($event)">
         <img src="assets/images/logo-icon-white2.svg" alt="Logo" class="logo-icon">
        </a>
        
        <ul class="nav-links">
          <li><a href="#services" (click)="scrollToSection('services', $event)">Services</a></li>
          <li><a href="#testimonials" (click)="scrollToSection('testimonials', $event)">Testimonials</a></li>
          <li>
            <a routerLink="/projects" (click)="closeMenu()">
              <span>Projects</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M8.256 5.91113V7.5778H11.2477L5.91113 12.9142L7.08613 14.0892L12.4227 8.7528V11.7445H14.0893V5.91113H8.256Z" fill="#FCFCFC"/>
              </svg>
          </a></li>
        </ul>

        
      </div>
      
      <div class="navbar-right">
        <app-cta-button 
          size="small" 
          href="/#contact" 
          (clicked)="closeMenu()"
          class="cta-nav">
        </app-cta-button>
        <button class="menu-toggle" (click)="toggleMenu()" [class.active]="menuOpen()">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="menu-mobile" [class.active]="menuOpen()">
        <ul class="nav-links mobile" >
          <li><a href="#services" (click)="scrollToSection('services', $event)">Services</a></li>
          <li><a href="#testimonials" (click)="scrollToSection('testimonials', $event)">Testimonials</a></li>
          <li>
            <a routerLink="/projects" (click)="closeMenu()">
              <span>Projects</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M8.256 5.91113V7.5778H11.2477L5.91113 12.9142L7.08613 14.0892L12.4227 8.7528V11.7445H14.0893V5.91113H8.256Z" fill="#FCFCFC"/>
              </svg>
            </a>
          </li>
        </ul>
        <app-cta-button 
          size="small" 
          href="/#contact" 
          (clicked)="closeMenu()"
          class="cta-nav mobile">
        </app-cta-button>
      </div>  
    </div>
</nav>