.p-logo {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
  .background {
    position: absolute;
    z-index: 0;
    .glow {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        z-index: 1;
        top: 0;
        left: 50%;
        &.glow-blue-1 {
            width: 65px;
            height: 65px;
            background: radial-gradient(#70B9EE, transparent 70%);
            transform: translate(35px, -30px);
            opacity: 0.2;
        }
        &.glow-blue-2 {
            width: 20px;
            height: 30px;
            background: radial-gradient(#70B9EE, transparent 70%);
            transform: rotate(36deg) translate(40px, -34px);
            opacity: 0.5;
        }
        &.glow-red-1 {
            width: 65px;
            height: 65px;
            background: radial-gradient(#FF7474, transparent 70%);
            transform: translate(-35px, 30px);
            opacity: 0.2;
        }
        &.glow-red-2 {
            width: 20px;
            height: 30px;
            background: radial-gradient(#FF7474, transparent 70%);
            transform: rotate(36deg) translate(25px, 40px);
            opacity: 0.5;
        }
    }
  }
  img {
    position: relative;
    z-index: 2;
    width: 70px;
    height: 70px;
  }
}