@use 'mixins' as *;

.project-side-img-text {
  position: relative;
  padding: 48px 0;
  @include respond-to(md) {
    padding: 96px 0;
  }
  &.side-left {
    .container {
      flex-direction: column;
      @include respond-to(md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &.side-right {
    .container {
      flex-direction: column;
      @include respond-to(md) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }

  &.project-tierro {
    &.side-left {
        .img-content {
            &::before {
                top: -150px;
                right: -150px;
            }
        }
    }
    &.side-right {
        .img-content {
            &::before {
                top: -150px;
                left: -150px;
            }
        }
    }
    .img-content {
      &::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        opacity: 0.1;
        background: radial-gradient(50% 50% at 50% 50%, #fdc45d 0%, rgba(253, 196, 93, 0) 100%);
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 2;
    align-items: center;
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include respond-to(md) {
        width: 500px;
        flex: 0 0 500px;
      }
      h3 {
        color: #f5f5f5;
        font-size: 24px;
        font-weight: 600;
        @include respond-to(md) {
          font-size: 36px;
        }
      }
      p {
        color: #f5f5f5;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        @include respond-to(md) {
          font-size: 18px;
        }
      }
    }
    .img-content {
      position: relative;
      width: 400px;
      @include respond-to(md) {
        width: 630px;
        flex: 0 0 630px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
