<section [ngClass]="['project-side-img-text','project-'+projectSideImgTextData.projectName, `side-${projectSideImgTextData.sideDirection}`, `project-${projectSideImgTextData.sectionName}`]">
    @if (projectSideImgTextData.backgroundImages || projectSideImgTextData.circles) {
        <div class="background">
          @if (projectSideImgTextData.backgroundImages) {
            @for (image of projectSideImgTextData.backgroundImages; track $index) {
                <img [src]="image" alt="background" />
            }
          }
            @if (projectSideImgTextData.circles) {
            <div class="circles">
              @for (circle of projectSideImgTextData.circles; track $index) {
                <div class="circle" [ngClass]="['circle-' + ($index + 1)]"></div>
              }
            </div>
          }
        </div>
    }
  <div class="container">
    <div class="text-content">
      <h3>{{ projectSideImgTextData.title }}</h3>
      <p>{{ projectSideImgTextData.text }}</p>
    </div>
    <div class="img-content">
        <img [src]="projectSideImgTextData.image" alt="projectSideImgTextData.title" />
    </div>
  </div>
</section>