@use 'mixins' as *;

.project-side-img-text {
  position: relative;
  padding: 48px 0;
  @include respond-to(md) {
    padding: 96px 0;
  }
  &.side-left {
    .container {
      flex-direction: column;
      @include respond-to(md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &.side-right {
    .container {
      flex-direction: column;
      @include respond-to(md) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
  &.side-column {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .text-content {
        flex: 0 0 100%;
        max-width: 900px;
        width: 100%;
      }
      .img-content {
        flex: 0 0 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.project-tierro {
    --spot-color: #fdc45d;
    &.side-left {
        .img-content {
            &::before {
                top: -150px;
                right: -150px;
            }
        }
    }
    &.side-right {
        .img-content {
            &::before {
                top: -150px;
                left: -150px;
            }
        }
    }
  }
  
  &.project-prompt-management {
    --spot-color: #19DEFB;
    padding: 48px 0 0;
    @include respond-to(md) {
      padding: 96px 0 0;
    }
    &.side-left {
        .img-content {
            &::before {
                top: -150px;
                right: -150px;
            }
        }
    }
    &.side-right {
        .img-content {
            &::before {
                top: -150px;
                left: -150px;
            }
        }
    }
    &.project-settings-screen {
      padding: 0 0 48px;
      overflow: hidden;
      @include respond-to(md) {
        padding: 0 0 96px;
      }
      .background {
        .circles {
          .circle {
            &.circle-1 {
              background: radial-gradient(#70B9EE, transparent 70%);
              width: 800px;
              height: 800px;
              opacity: 0.2;
              transform: translate(calc(50% - 200px), 350px);
            }
          }
        }
      }
    }
    .container {
      .text-content {
        h3 {
         font-size: 24px;
        }
      }

      .img-content {
        @include respond-to(md) {
          width: 500px;
          flex: 0 0 500px;
        }
      
      }
    }
   
  }

  &.project-brush-along {
    &.project-user-flow {
      background: #FCFCFC;
      .container {
        .text-content {
          h3 {
            color: #080C1A;
          }
          p {
            color: #080c1ad0;
          }
        }
      }
    }
    &.project-wireframes {
      background: #6A8A45;
      padding: 48px 0 0;

      @include respond-to(md) {
        padding: 96px 0 0;
      }
      .container {
        gap: 96px;
        @include respond-to(md) {
          gap: 120px;
        }
        .img-content {
          overflow: hidden;
          width: 100%;
          @include respond-to(md) {
            width: 120%;
          }
          img {
            @include respond-to(md) {
              margin-bottom: -100px;
            }
          }
        }
      }
      .background {
        img {
          object-fit: contain;
          top: 50%;
          left: 50%;
          &:nth-child(1) {
            width: 800px;
            height: 100px;
            transform: translate(0%, -50%) translate(-50%, -50%);
            display: none;
          }
          &:nth-child(2) {
            width: 180px;
            height: 225px;
            transform: translate(-300%, -50%) translate(-50%, -50%);
          }
        }
      }
    }
   
    &:has(video), &.project-home-screen {
      .container {
        gap: 72px;
        @include respond-to(lg) {
          gap: 48px;
        }
        .text-content {
          h3 {
            font-size: 20px;
            @include respond-to(lg) {
              font-size: 24px;
            }
          }
        }
        .img-content {
          position: relative;
          &::before {
            background: #704720;
            opacity: 1;
            top: -36px;
            width: 300px;
            height: 300px;
            @include respond-to(lg) {
              top: -55px;
              width: 500px;
              height: 500px;
            }
          }
        }
      }
    }
    .container {
      .img-content {
        img {
          width: 293px;
          @include respond-to(lg) {
            width: 490px;
          }
        }
      }
    }
    video {
      border-radius: 22px;
      width: 300px;
      @include respond-to(lg) {
        border-radius: 22px;
        width: 480px;
      }
    }
    &.side-left {
      .img-content {
        img {
          transform: rotate(20deg)
        }
      }
      video {
        transform: rotate(20deg)
      }
    }
    &.side-right {
      .img-content {
        img {
          transform: rotate(-20deg)
        }
      }
      video {
        transform: rotate(-20deg)
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      .circle {
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
      }
    }
  }

  .container {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 2;
    align-items: center;
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include respond-to(md) {
        width: 500px;
        flex: 0 0 500px;
      }
      h3 {
        color: #f5f5f5;
        font-size: 24px;
        font-weight: 600;
        @include respond-to(md) {
          font-size: 36px;
        }
      }
      p {
        color: #f5f5f5;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        @include respond-to(md) {
          font-size: 18px;
        }
      }
    }
    .img-content {
      position: relative;
      width: 400px;
      @include respond-to(md) {
        width: 630px;
        flex: 0 0 630px;
      }

      &::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        opacity: 0.1;
        background: radial-gradient(50% 50% at 50% 50%, var(--spot-color) 0%, rgba(253, 196, 93, 0) 100%);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
