@use 'mixins' as *;

.project-side-img-cards {
  position: relative;
  padding: 48px 0;
  overflow: hidden;
  @include respond-to(lg) {
    padding: 96px 0;
  }
  &.side-left {
    .container {
      flex-direction: column;
      @include respond-to(lg) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &.side-right {
    .container {
      flex-direction: column;
      @include respond-to(lg) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }

  &.project-tierro {
    .cards {
      .card {
        border: 1px solid rgba(145, 145, 145, 0.3);
        background: #141313;
        box-shadow: 3px 74px 21px 0 rgba(0, 0, 0, 0.01), 2px 48px 19px 0 rgba(0, 0, 0, 0.1),
          1px 27px 16px 0 rgba(0, 0, 0, 0.34), 0 12px 12px 0 rgba(0, 0, 0, 0.58),
          0 3px 7px 0 rgba(0, 0, 0, 0.67);
      }
    }
    &.project-producer-client-page,
    &.project-admin-page {
      .container {
        .img-content {
          display: flex;
          align-items: center;
          img {
            width: 400px;
            height: auto;
            @include respond-to(md) {
              width: 700px;
              height: auto;
            }
          }
        }
      }
    }
    &.project-lesson-learned {
      .container {
        .img-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          img {
            width: 450px;
            height: auto;
          }
        }
      }
      .circle {
        position: absolute;
        &.circle-1 {
          bottom: calc(-365px / 2);
          left: calc(50% - 365px / 2);
          width: 365px;
          height: 365px;
          border-radius: 100%;
          background: radial-gradient(#fdc45d, transparent 70%);
          filter: blur(20px);
          opacity: 0.05;
        }
        &.circle-2 {
          width: 567px;
          height: 567px;
          border-radius: 100%;
          opacity: 0.05;
          background: radial-gradient(#fdc45d, transparent 70%);
          filter: blur(20px);
          right: -192px;
          top: -62px;
        }
      }
    }
  }

  &.project-prompt-management {
    &.project-prompt-library-extension {
      .container {
        .img-content {
          img {
            width: 600px;
            object-fit: contain;
            @include respond-to(lg) {
              width: 900px;
            }
          }
        }
      }
    }
    &.project-lesson-learned {
      .background {
        .circle {
          &.circle-1 {
            width: 365px;
            height: 365px;
            background: radial-gradient(#ff7474, transparent 70%);
            opacity: 0.2;
            transform: translate(calc(50% - 1000px), -150px);
          }
        }
      }
      .container {
        .img-content {
          img {
            width: 600px;
            object-fit: contain;
            margin-left: -124px;
            margin-top: -100px;
            margin-bottom: -224px;
            @include respond-to(lg) {
              width: 600px;
            }
          }
        }
      }
    }
  }

  &.project-brush-along {
    &.project-mobile-game-children,
    &.project-mobile-app-parents {
      .container {
        .img-content {
          img {
            object-fit: contain;
          }
        }
      }
    }
    &.project-lesson-learned {
      background: #fcfcfc;
      padding: 48px 0 0;
      @include respond-to(lg) {
        padding: 96px 0;
      }
      .background {
        img {
          position: absolute;
          &:nth-child(1) {
            width: 700px;
            height: 460px;
            object-fit: contain;
            bottom: 0;
            left: 50%;
            transform: translate(5%,30px);
            display: none;
            @include respond-to(lg) {
              display: block;
            }
          }
          &:nth-child(2) {
            width: 100px;
            height: 100px;
            object-fit: contain;
            bottom: 50%;
            left: 50%;
            transform: translate(170%, -50%);
            display: none;
            @include respond-to(lg) {
              display: block;
            }
          }
          &:nth-child(3) {
            width: 80px;
            height: 80px;
            object-fit: contain;
            bottom: 50%;
            left: 50%;
            transform: translate(120%, -360%);
            display: none;
            @include respond-to(lg) {
              display: block;
            }
          }
        }
      }
      .container {
        .img-content {
          display: block;
          
          @include respond-to(lg) {
            display: none;
          }
          img {
            width: 500px;
            height: 300px;
            margin-bottom: -20px;
          }
        }
        .text-content {
          h3 {
            color: #0c1524;
          }
          p {
            color: #0c1524;
            opacity: 0.8;
          }
          .cards {
            .card {
              padding: 12px 0;
              h4 {
                color: #0c1524;
              }
              p {
                color: #0c1524;
                opacity: 0.8;
              }
              img {
                filter: brightness(0);
              }
            }
          }
        }
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      .circle {
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 50%;
      }
    }
  }

  .container {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 2;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include respond-to(lg) {
        flex: 0 0 500px;
      }

      @include respond-to(xl) {
        flex: 0 0 700px;
      }
      h3 {
        color: #fcfcfc;
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        @include respond-to(md) {
          font-size: 36px;
        }
      }

      > p {
        color: rgba(252, 252, 252, 0.8);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        @include respond-to(md) {
          font-size: 18px;
        }
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .card {
        display: flex;
        padding: 24px;
        gap: 24px;
        border-radius: 5px;
        position: relative;
        z-index: 2;
        flex-direction: column;

        @include respond-to(md) {
          flex-direction: row;
        }
        .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
          }
        }

        h4 {
          color: #fcfcfc;
          font-size: 18px;
          font-weight: 700;
          line-height: 150%;
        }

        p {
          color: rgba(252, 252, 252, 0.8);
          font-size: 14px;
          font-weight: 300;
          line-height: 140%;
        }

        img {
          display: flex;
          width: 45px;
          height: 45px;
          justify-content: center;
          align-items: center;
        }

        .text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
        }
      }
    }
    .img-content {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
