@use 'mixins' as *;

.project-side-img-cards {
  position: relative;
  padding: 96px 0;
  overflow: hidden;
  &.side-left {
    .container {
      flex-direction: column;
      @include respond-to(lg) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &.side-right {
    .container {
      flex-direction: column;
      @include respond-to(lg) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }

  &.project-tierro {
    .cards {
      .card {
        border: 1px solid rgba(145, 145, 145, 0.3);
        background: #141313;
        box-shadow: 3px 74px 21px 0 rgba(0, 0, 0, 0.01), 2px 48px 19px 0 rgba(0, 0, 0, 0.1),
          1px 27px 16px 0 rgba(0, 0, 0, 0.34), 0 12px 12px 0 rgba(0, 0, 0, 0.58),
          0 3px 7px 0 rgba(0, 0, 0, 0.67);
      }
    }
    &.project-producer-client-page, &.project-admin-page {
      .container {
        .img-content {
          display: flex;
          align-items: center;
          img {
            width: 400px;
            height: auto;
            @include respond-to(md) {
              width: 700px;
              height: auto;
            }
          }
        }
      }
    }
    &.project-lesson-learned {
      .container {
        .img-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          img {
            width: 450px;
            height: auto;
          }
        }
      }
      .circle {
        position: absolute;
        &.circle-1 {
          bottom: calc(-365px / 2);
          left: calc(50% - 365px / 2);
          width: 365px;
          height: 365px;
          border-radius: 100%;
          background: #FDC45D;
          filter: blur(40px);
          opacity: 0.05;
        }
        &.circle-2 {
          width: 567px;
          height: 567px;
          border-radius: 100%;
          opacity: 0.05;
          background: #FDC45D;
          filter: blur(40px);
          right: -192px;
          top: -62px;
        }
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 2;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include respond-to(lg) {
        flex: 0 0 500px;
      }

      @include respond-to(xl) {
        flex: 0 0 700px;
      }
      h3 {
        color: #fcfcfc;
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        @include respond-to(md) {
          font-size: 36px;
        }
      }

      > p {
        color: rgba(252, 252, 252, 0.8);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        @include respond-to(md) {
          font-size: 18px;
        }
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .card {
        display: flex;
        padding: 24px;
        gap: 24px;
        border-radius: 5px;
        position: relative;
        z-index: 2;
        flex-direction: column;

        @include respond-to(md) {
         flex-direction: row;
        }
        .background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
          }
        }

        h4 {
          color: #fcfcfc;
          font-size: 18px;
          font-weight: 700;
          line-height: 150%;
        }

        p {
          color: rgba(252, 252, 252, 0.8);
          font-size: 14px;
          font-weight: 300;
          line-height: 140%;
        }

        img {
          display: flex;
          width: 45px;
          height: 45px;
          justify-content: center;
          align-items: center;
        }

        .text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
        }
      }
    }
    .img-content {
      flex: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
