@use 'mixins' as *;

.project-style-guide {
  padding: 48px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  @include respond-to(md) {
    padding: 96px 0;
  }
  &.project-brush-along {
    background: #FCFCFC;
    --text-color: #080C1A;
    --font-name: "Lilita One", sans-serif;
    padding: 48px 0 200px;
    @include respond-to(md) {
      padding: 96px 0 200px;
    }
    .font-guide {
      max-width: 600px;
      margin: 0 auto;
      .font-cards {
       .font-card {
        padding: 0;
        flex-direction: column;
        align-items: center;
        @include respond-to(md) {
          flex-direction: row;
        }
        .font-card-a {
          display: none;
        }
        h5, p {
          color: var(--text-color);
        }
       }
      }
    }
    .color-guide {
      h4 {
        display: none;
      }
      .color-cards {
        h5 {
          display: none;
        }
        .card-container {
          display: grid;
          grid-template-columns: repeat(2, 150px);
          gap: 0;
          border-radius: 16px;
          overflow: hidden;
          box-shadow: 0 238px 66px 0 rgba(74, 79, 155, 0.00), 0 152px 61px 0 rgba(74, 79, 155, 0.04), 0 85px 51px 0 rgba(74, 79, 155, 0.13), 0 38px 38px 0 rgba(74, 79, 155, 0.21), 0 10px 21px 0 rgba(74, 79, 155, 0.25);

          @include respond-to(md) {
            grid-template-columns: repeat(3, 200px);
          }
          @include respond-to(xl) {
            grid-template-columns: repeat(6, 200px);
          }
          .color-card {
            position: relative;
            &:nth-child(1) {
              grid-column: 1 / 3;
              grid-row: 1 / 3;
              .color-card-color {
                width: 300px;
                height: 300px;
                @include respond-to(md) {
                  width: 400px;
                  height: 400px;
                }
              }
            }
            .color-card-color {
              width: 150px;
              height: 150px;
              border-radius: 0;
              @include respond-to(md) {
                width: 200px;
                height: 200px;
              }
            }
            .color-card-text {
              position: absolute;
              bottom: 16px;
              left: 16px;
              p {
                font-size: 16px;
                font-weight: 600;
                &:nth-child(1) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  &.project-tierro {
    background: #171925;
    --font-name: 'Montserrat';
    --text-color: #fcfcfc;
    .font-guide {
      .font-card {
        border-radius: 5px;
        border: 1px solid rgba(145, 145, 145, 0.6);
        background: #141313;
        box-shadow: 3px 74px 21px 0 rgba(0, 0, 0, 0.01), 2px 48px 19px 0 rgba(0, 0, 0, 0.1),
          1px 27px 16px 0 rgba(0, 0, 0, 0.34), 0 12px 12px 0 rgba(0, 0, 0, 0.58),
          0 3px 7px 0 rgba(0, 0, 0, 0.67);
      }
    }
  }

  &.project-prompt-management {
    background: #0E1829;
    --text-color: #fcfcfc;
    --font-name: 'Geist';
    .font-guide {
      .font-card {
        border-radius: 5px;
        border: 1px solid rgba(145, 145, 145, 0.3);
        background: #080C1A;
        box-shadow: 3px 74px 21px 0 rgba(0, 0, 0, 0.01), 2px 48px 19px 0 rgba(0, 0, 0, 0.1),
          1px 27px 16px 0 rgba(0, 0, 0, 0.34), 0 12px 12px 0 rgba(0, 0, 0, 0.58),
          0 3px 7px 0 rgba(0, 0, 0, 0.67);
          max-width: 200px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    h3 {
      color: var(--text-color);
      font-size: 36px;
      font-weight: 600;
      line-height: 120%;
    }
    p {
      color: var(--text-color);
      opacity: 0.8;
      font-size: 18px;
      font-weight: 300;
      line-height: 150%;
      max-width: 600px;
      @supports (color-mix(in srgb, red, blue)) {
        color: color-mix(in srgb, var(--text-color) 80%, transparent);
        opacity: 1;
      }
    }
  }
  .font-guide {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    h4 {
      color: var(--text-color);
      font-family: var(--font-name);
      font-size: 48px;
      font-weight: 600;
      line-height: 140%;
      @include respond-to(md) {
        font-size: 96px;
      }
    }
    p {
      color: var(--text-color);
      font-size: 18px;
      font-weight: 300;
      line-height: 150%;
    }
    .font-cards {
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-align: start;
      @include respond-to(lg) {
        flex-direction: row;
      }
      .font-card {
        display: flex;
        padding: 24px;
        flex-direction: column;
        gap: 8px;

        h5 {
          color: rgba(252, 252, 252, 0.8);
          font-size: 18px;
          font-weight: 300;
          line-height: 150%;
        }
        .font-card-a {
          color: rgba(252, 252, 252, 0.8);
          font-family: var(--font-name);
          font-size: 36px;
          line-height: 150%;
        }
        .font-card-abc {
          color: rgba(252, 252, 252, 0.8);
          font-family: var(--font-name);
          font-size: 18px;
          line-height: 150%;
          word-wrap: break-word;
        }
      }
    }
  }

  .color-guide {
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    h4 {
      color: var(--text-color);
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
      @include respond-to(md) {
        font-size: 36px;
      }
    }
    .color-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: start;
        h5 {
          color: var(--text-color);
          font-size: 18px;
          font-weight: 700;
          line-height: 150%;
        }
    }
    .color-card {
        display: flex;
        gap: 24px;
        text-align: start;
       
        @include respond-to(md) {
          flex: 0 0 200px;
        }
        .color-card-color {
          width: 45px;
          height: 45px;
          border-radius: 12px;
          box-shadow: 0 40px 11px 0 rgba(0, 0, 0, 0), 0 26px 10px 0 rgba(0, 0, 0, 0.01),
            0 14px 9px 0 rgba(0, 0, 0, 0.05), 0 6px 6px 0 rgba(0, 0, 0, 0.09),
            0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }
        .color-card-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            &:nth-child(1) {
              color: var(--text-color);
              font-size: 14px;
              font-weight: 500;
              line-height: 140%;
            }
            &:nth-child(2) {
              color: var(--text-color);
              opacity: 0.6;
              font-size: 12px;
              font-weight: 300;
              line-height: 140%;
              @supports (color-mix(in srgb, red, blue)) {
                color: color-mix(in srgb, var(--text-color) 60%, transparent);
                opacity: 1;
              }
            }
          }
        }
      }

    .card-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      text-align: start;
      @include respond-to(md) {
        flex-direction: row;
        align-items: center;
      }
    }
   
  }
}
