.ai-automation-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .glow {
    position: absolute;
    border-radius: 50%;
   
    pointer-events: none;
    z-index: 1;
    top: 16px;
    left: 16px;
    &.glow-blue-1 {
      width: 600px;
      height: 600px;
      transform: translate(-75px, -40px);
      background-color: var(--color-secondary);
      filter: blur(20px);
      opacity: .2;
    }
    &.glow-red-1 {
      width: 205px;
      height: 205px;
      transform: translate(-75px, -75px);
      background-color: var(--color-primary);
      filter: blur(20px);
      opacity: 0.1;
    }
  }

  .dots-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
    background-size: 20px 20px;
    opacity: 0.3;
    z-index: 1;
  }

  .bubble {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 5;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;
    transform: translate(95px, 55px) rotate(-35deg);
    @media (hover: hover) and (pointer: fine) {
      transform: translate(95px, 55px) rotate(-35deg) 
        translate3d(
          calc(var(--hover) * var(--dx) * 3px),
          calc(var(--hover) * var(--dy) * 3px),
          0
        )
        rotateX(calc(var(--hover) * var(--dy) * -3deg))
        rotateY(calc(var(--hover) * var(--dx) * 3deg)) translateZ(calc(var(--hover) * 120px));
    }
    img {
      width: 160px;
      height: 160px;
    }
  }

  .paths {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;
    z-index: 2;
    
    @media (hover: hover) and (pointer: fine) {
      transform: translate3d(calc(var(--hover) * var(--dx) * 2px), calc(var(--hover) * var(--dy) * 2px), 0)
                 rotateX(calc(var(--hover) * var(--dy) * -2deg))
                 rotateY(calc(var(--hover) * var(--dx) * 2deg))
                 translateZ(calc(var(--hover) * 240px));
    }
    
    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    svg {
      &:nth-child(1) {
        transform: translate(-10px, 0px);
      }
      &:nth-child(2) {
        transform: translate(0px, 0px);
      }
      &:nth-child(3) {
        transform: translate(5px, 48px);
      }
    }
    .path-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transform: translate(238px, 39px);
   
    }
    .path-left {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      transform: translate(127px, 225px) scale(-1);
    }
  }

  .logos-circles {
    position: absolute;
    z-index: 4;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;
    
    @media (hover: hover) and (pointer: fine) {
      transform: translate3d(calc(var(--hover) * var(--dx) * 2px), calc(var(--hover) * var(--dy) * 2px), 0)
                 rotateX(calc(var(--hover) * var(--dy) * -2deg))
                 rotateY(calc(var(--hover) * var(--dx) * 2deg))
                 translateZ(calc(var(--hover) * 240px));
    }
  
    .logo-circle {
      top: 16px;
      left: 16px;
      transition: transform 300ms ease;
      &.logo-circle-1 {
        transform: translate(-42px, 44px) rotate(-28deg);
        img {
          width: 150px;
          height: 150px;
        }
      }
      &.logo-circle-2 {
        transform: translate(28px, 19px) rotate(-28deg);
        img {
          width: 120px;
          height: 120px;
        }
      }
      &.logo-circle-3 {
        transform: translate(-55px, -116px) rotate(-28deg);
        img {
          width: 100px;
          height: 100px;
        }
      }
      &.logo-circle-4 {
        transform: translate(233px, -427px) rotate(-28deg);
        img {
          width: 100px;
          height: 100px;
        }
      }
      &.logo-circle-5 {
        transform: translate(306px, -555px) rotate(-28deg);
        img {
          width: 150px;
          height: 150px;
        }
      }
      &.logo-circle-6 {
        transform: translate(261px, -591px) rotate(-28deg);
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 300ms ease;
    transform: translate(33px, -14px) ;

    @media (hover: hover) and (pointer: fine) {
      transform: 
      translate(33px, -14px) 
                translate3d(calc(var(--hover) * var(--dx) * 3px), calc(var(--hover) * var(--dy) * 2px), 0)
                rotateX(calc(var(--hover) * var(--dy) * -3deg))
                rotateY(calc(var(--hover) * var(--dx) * 3deg))
                translateZ(calc(var(--hover) * 240px));
    }
    img {
      width: 200px;
      height: 200px;
    }
  }
}

