<section [ngClass]="['project-thanks', 'noise-overlay', 'project-' + projectThanksData.projectName]">
  @if (projectThanksData.backgroundImages || projectThanksData.backgroundCircles) {
    <div class="background">
        @if (projectThanksData.backgroundImages) {
            @for (image of projectThanksData.backgroundImages; track $index) {
                <img [src]="image" alt="background" />
            }
        }
        @if (projectThanksData.backgroundCircles) {
            @for(circle of projectThanksData.backgroundCircles; track $index) {
                <div [ngClass]="['circle','circle-' + ($index + 1)]"></div>
            }
        }
    </div>
  }
  <div class="container">
    <h2>{{ projectThanksData.title }}</h2>
    <div class="project-inquiry">
      <div class="text-container">
        <div class="kicker">
          <h3>{{ projectThanksData.projectKicker }}</h3>
        </div>
        <h4>{{ projectThanksData.projectTitle }}</h4>
        <p>{{ projectThanksData.projectDescription }}</p>
      </div>
      <app-project-inquiry [classType]="'project-thanks'"></app-project-inquiry>
    </div>
  </div>
</section>
