@use 'mixins' as *;

.project-thanks {
  padding: 96px 0;
  gap: 16px;
  position: relative;
  overflow: hidden;
  &.project-tierro {
    background: #171925;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.25) inset, 0 10px 20px 0 rgba(0, 0, 0, 0.25) inset;
    .circle {
      &.circle-1 {
        bottom: calc(-365px / 2);
        left: calc(50% - 365px / 2);
        width: 365px;
        height: 365px;
        border-radius: 100%;
        background: #70b9ee;
        filter: blur(50px);
        opacity: 0.05;
      }
      &.circle-2 {
        width: 567px;
        height: 567px;
        border-radius: 100%;
        opacity: 0.05;
        background: radial-gradient(50% 50% at 50% 50%, #fdc45d 0%, rgba(253, 196, 93, 0) 100%);
        right: -192px;
        top: -62px;
      }
      &.circle-3 {
        width: 567px;
        height: 567px;
        left: -219px;
        top: -361px;
        border-radius: 100%;
        opacity: 0.05;
        background: radial-gradient(50% 50% at 50% 50%, #fdc45d 0%, rgba(253, 196, 93, 0) 100%);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 64px;
  }
  h2 {
    color: #fcfcfc;
    font-size: 64px;
    font-weight: 600;
    line-height: 120%;
    @include respond-to(md) {
        font-size: 48px;
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
  }
  .kicker {
    display: flex;
    padding: 4px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(112, 185, 238, 0.2);
    background: linear-gradient(
      91deg,
      rgba(59, 141, 209, 0.15) 0.45%,
      rgba(112, 185, 238, 0.15) 99.5%
    );
    backdrop-filter: blur(25px);
  }
  h3 {
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 500;
    @include respond-to(md) {
        font-size: 16px;
    }
  }
  h4 {
    color: #fcfcfc;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.68px;
    margin-bottom: 8px;
    @include respond-to(md) {
        font-size: 42px;
    }
  }
  p {
    color: rgba(252, 252, 252, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.4px;
    @include respond-to(md) {
        font-size: 20px;
    }
  }
  .circle {
    position: absolute;
  }
}
