@use "mixins" as *;

.faq {
  background: var(--color-bg-primary);
  padding: 4rem 0;
}

.section-header {
  text-align: center;
  max-width: 650px;
  margin: 0 auto 64px;

  .kicker {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 4px 16px 4px 10px;
    border-radius: 6px;
    background: rgba(209, 75, 59, 0.1);
    border: 1px solid rgba(209, 75, 59, 0.1);
    backdrop-filter: blur(25px);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-primary);
    @include respond-to(md) {
      font-size: 16px;
    }
    .badge-icon {
      display: inline-flex;
      width: 18px;
      height: 18px;
      svg {
        width: 100%;
        height: 100%;
        path {
          fill: var(--color-text-primary);
        }
      }
    }

    .badge-text {
      font-weight: 500;
      white-space: pre;
    }
  }

  .section-title {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.68px;
    margin-bottom: 16px;
    color: var(--color-text-primary);
  }

  .section-description {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.4px;
    color: rgba(252, 252, 252, 0.8);
    max-width: 500px;
    margin: 0 auto;
  }
}

.faq-list {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  background: #040612;
  border: 1px solid #331b26;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;

  &.active {
    border-color: #518cc2;
  }

  &:hover {
    border-color: rgba(81, 140, 194, 0.5);
  }
}

.faq-content {
  display: flex;
  flex-direction: column;
}

.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: none;
  border: none;
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-family);
  cursor: pointer;
  text-align: left;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-text-primary);
  }

  .faq-question-text {
    flex: 1;
    line-height: 1.5;
  }

  .faq-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: rgba(4, 6, 18, 0.05);
    border: 0.5px solid #e4e4e4;
    border-radius: 8px;
    padding: 2px;
    flex-shrink: 0;
    margin-left: 1rem;
  }

  .faq-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    color: var(--color-text-primary);
    transition: transform 0.3s ease;
    transform: rotate(0deg);

    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &.open {
    max-height: 500px;
  }

  p {
    padding: 0 1rem 1rem;
    margin: 0;
    color: var(--color-text-primary);
    font-size: 0.875rem;
    font-weight: 300;
    font-family: var(--font-family);
    line-height: 1.4;
  }
}

