// Home page styles
main {
  display: block;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    z-index: 0;
  }
  .grid-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3000px;
    height: 1500px;
    background: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    mix-blend-mode: overlay;
    opacity: 0.5;
    transform: rotate(23deg) translate(0, 500px);
  }
}

