@use "mixins" as *;

.project-header {
  position: relative;
  width: 100%;
  padding: 140px 16px 80px;
  overflow: hidden;
  min-height: 400px;
  @include respond-to(md) {
    padding: 240px 0 80px;
  }
  
  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.project-tierro {
      img {
       opacity: 0.05;
      }

      &::before {
        content: '';
        position: absolute;
        top: 250px;
        right: calc(50% - 800px);
        width: 630px;
        height: 630px;
        background: radial-gradient(circle, #FDC45D 0%, rgba(253, 196, 93, 0) 65%);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0.1;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 2;
    @include respond-to(md) {
      flex-direction: row;
    }
    .content {
      display: flex;
      flex-direction: column;
      @include respond-to(md) {
        flex: 0 0 500px;
      }
      .project-logo {
        height: 80px;
        width: auto;
        margin-bottom: 48px;
      }

      .project-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 16px;
        @include respond-to(md) {
          font-size: 42px;
        }
        @include respond-to(lg) {
          font-size: 48px;
        }
      }
      .project-description {
        color: rgba(252, 252, 252, 0.80);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        margin-bottom: 48px;
        @include respond-to(md) {
          font-size: 18px;
        }
      }
    }
    .img {
      position: relative;
      @include respond-to(md) {
        flex: 0 0 550px;
      }
      
      @include respond-to(lg) {
        flex: 0 0 750px;
      }
      img {
        width: 100%;
        height: auto;

        @include respond-to(lg) {
          width: 750px;
        }
      }
    }
  }
}
