@use 'mixins' as *;

.project-strategic {
  padding: 48px 0 96px;
  position: relative;
  overflow: hidden;
  &.project-tierro {
    &.section-name-strategic-goals {
      .background {
        img:first-child {
          width: 1252px;
          height: 1320px;
          top: 0px;
          right: calc(50% - 1390px);
          position: absolute;
        }
        img:last-child {
         width: 100%;
         height: 100%;
         object-fit: cover;
         top: 0;
         left: 0;
         position: absolute;
         z-index: 1;
         opacity: 0.1;
        }
      }
    }
  
    &.section-name-insights {
      .background {
        img {
          position: absolute;
          &:nth-child(1) {
            width: 426px;
            height: 476px;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% - 400px), calc(-50% - 100px));
          }
          &:nth-child(2) {
            width: 290px;
            height: 284px;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% + 450px), calc(-50% + 150px));
          }
        }
      }
    }
  }
  &.project-prompt-management {
    &.section-name-strategic-goals {
      background: #080C1A;
      app-project-number-card {
        height: 100%;
        ::ng-deep .project-card {
          height: 100%;
        }
      }
      .background {
        img:first-child {
          width: 1252px;
          height: 1320px;
          top: 0px;
          right: calc(50% - 1390px);
          position: absolute;
        }
        img:last-child {
         width: 100%;
         height: 100%;
         object-fit: cover;
         top: 0;
         left: 0;
         position: absolute;
         z-index: 1;
         opacity: 0.1;
        }
      }
    }
  
    &.section-name-insights {
      .background {
        img {
          position: absolute;
          &:nth-child(1) {
            width: 426px;
            height: 476px;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% - 400px), calc(-50% - 100px));
          }
          &:nth-child(2) {
            width: 290px;
            height: 284px;
            left: 50%;
            top: 50%;
            transform: translate(calc(-50% + 450px), calc(-50% + 150px));
          }
        }
      }
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    justify-content: center;
    max-width: 900px;
    position: relative;
    z-index: 2;
  }
  .cards-strategic {
    text-align: left;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    @include respond-to(lg) {
        display: grid;
        grid-template-columns: repeat(2, 400px);
    }
    > *:last-child:nth-child(odd) {
      @include respond-to(lg) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }
  }
  h3 {
    color: #fcfcfc;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    @include respond-to(md) {
      font-size: 36px;
    }
  }
  p {
    color: rgba(252, 252, 252, 0.8);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    @include respond-to(md) {
      font-size: 18px;
    }
  }
}
