<section [ngClass]="['project-strategic','project-'+projectStrategicData.projectName,'section-name-'+projectStrategicData.sectionName]">
    @if (projectStrategicData.backgroundImages || projectStrategicData.backgroundCircles) {
        <div class="background">
            @if (projectStrategicData.backgroundImages) {
                @for (image of projectStrategicData.backgroundImages; track $index) {
                    <img [src]="image" alt="background" loading="lazy" />
                }
            }
            @if (projectStrategicData.backgroundCircles) {
                <div class="circles">
                    @for (circle of projectStrategicData.backgroundCircles; track $index) {
                        <div class="circle" [ngClass]="['circle-'+$index]"></div>
                    }
                </div>
            }
        </div>
    }
  <div class="container">
    <h3>{{ projectStrategicData.title }}</h3>
    <p>{{ projectStrategicData.text }}</p>
    <div class="cards-strategic">
        @for (card of projectStrategicData.cards; track card.title) {
            <app-project-number-card [projectNumberCardData]="card"></app-project-number-card>
        }
    </div>
  </div>
</section>