@use './mixins' as *;
@use "./variables" as *;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
  
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
  
  @include respond-to(md) {
    max-width: 720px;
  }

  @include respond-to(lg) {
    max-width: 960px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @include respond-to(xl) {
    max-width: 1140px;
  }

  @include respond-to(xxl) {
    max-width: 1320px;
  }

}

img {
  object-fit: contain;
}