@use './mixins' as *;
@use "./variables" as *;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
   @include container();
}

img {
  object-fit: contain;
}