@use "sass:color";

:root {
  /* Color Palette */
  --color-primary: #CD4739;
  --color-primary-dark: #610A10;
  --color-primary-light: #FF7474;
  --color-secondary: #70B9EE;
  --color-accent: #E91E63;
  
  /* Dark Theme Colors */
  --color-bg-primary: #050A27;
  --color-bg-secondary: #080C1A;
  
  /* Text Colors */
  --color-text-primary: #FCFCFC;
  --color-text-secondary: #B8B9D0;
  --color-text-muted: #787A9D;
  
  /* Gradients */
  --gradient-primary: linear-gradient(230deg, #EA624A -15.19%, #961416 73.3%);
  --gradient-blue-purple: linear-gradient(135deg, #4A90E2 0%, #9C27B0 100%);
  --gradient-glow: radial-gradient(circle, rgba(102, 126, 234, 0.3) 0%, rgba(118, 75, 162, 0.1) 50%, transparent 100%);
  
  /* Typography */
  --font-family: "Geist", sans-serif;

  --shiny-corners: conic-gradient(from 180deg at 50% 50%, #2B2B2B 78deg, #919191 89deg, #2B2B2B 92deg, #2B2B2B 260deg, #2B2B2B 259deg, #919191 269deg, #2B2B2B 273deg);

}

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Spacing for different breakpoints
$spacing-unit: 6px;